<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{%- include head.html -%}

<body>

   {%- include header.html -%}

   <div class="content">
      <div class="site-shell">
         {{ content }}
      </div>
   </div><!-- end .content -->

   <nav class="bottom-dock" aria-label="Bottom tabs">
      <a href="/#home" class="dock-tab {% if page.url == '/' or page.url == '/index.html' %}active{% endif %}">Home</a>
      <a href="/#contact" class="dock-tab">Contact</a>
      <a href="https://github.com/{{ site.social.github }}" class="dock-tab" target="_blank" rel="noreferrer">GitHub</a>
      <a href="/#blogs" class="dock-tab">Blogs</a>
   </nav>
   {%- include footer.html -%}
   {%- include scripts.html -%}

</body>

</html>
